header {
    border-bottom: solid 3px rgb(217, 217, 217);
    position: relative;
    overflow: hidden;
    .left {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: rgb(71, 71, 73);
        color: white;
        text-align: center;
        line-height: 3.5;
        width: 100%;
        @media all and (max-width: 992px) {
            justify-content: flex-start;
        }
        @media all and (max-width: 1200px) {
            font-size: 1rem;
        }
        .hamburger {
            cursor: pointer;
            display: none;
            @media all and (max-width: 992px) {
                display: block;
                line-height: 2.3;
                font-size: 1.5rem;
            }
        }
        .logo {
            @media all and (max-width: 992px) {
                display: none;
            }
            @media all and (min-width: 993px) {
                display: inline;
                color: white;
                line-height: 3.5;
                font-size: 1rem;
            }
        }
    }
    .right {
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: white;
        color: rgb(59, 59, 59);
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 3;
        width: 100%;
        .icons i:first-child {
            margin-right: 15px;
        }
        .icons i:hover {
            cursor: pointer;
        }
    }
}